<div class="row-fluid">
  <div class="span12 actions">
    <div class="page-header">
      <%= link_to 'Volver!', clients_path, :class => 'btn pull-right', style: 'margin-left: 20px;' %>
      <%= link_to 'Editar', edit_client_path(@client), class: 'btn btn-info pull-right' %>
      <h2><%= @page_title %></h2>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h3 style="text-align: center;">Información Personal</h3>
    <dl style="margin-left: 2%;">
      <dt>Nombre completo</dt>
      <dd><%= @client.full_name %></dd>
      <dt>RUT</dt>
      <dd><%= @client.format_rut %></dd>
      <dt>Email</dt>
      <dd><%= @client.email %></dd>
      <dt>Teléfono de contacto</dt>
      <dd><%= @client.contact_phone %></dd>
      <dt>Dirección</dt>
      <dd><%= @client.address %></dd>
      <dt>Comentarios</dt>
      <dd><%= @client.comments %></dd>
    </dl>
  </div>

  <div class="span6">
    <% if @vehicles.any? %>
      <h3>Vehículos</h3>

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @vehicles.each do |v| %>
            <tr>
              <td><%= v.brand %></td>
              <td><%= v.model %></td>
              <td><%= link_to 'Ver más', vehicle_path(v) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <h3>Sin vehículos registrados</h3>
    <% end %>
    <%= link_to 'Agregar Vehículo', new_vehicle_path(client: @client.id), class: 'btn btn-primary' %>
  </div>
</div>
