<div class="row">
  <div class="col-md-12 actions">
    <div class="page-header">
      <h2><%= @page_title %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= form_tag({:action => 'index', :status => 'all'}, :method => 'get') do %>
        <div class="input-group">
          <%= text_field_tag 'query', '', :placeholder => 'Buscar...', :class => 'form-control' %>
          <span class="input-group-btn">
            <%= button_tag raw('<i class="fa fa-search"></i>'), :class => 'btn btn-default', :disable_with => '<i class="fa fa-search"></i>' %>
          </span>
        </div>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="pull-right">
      <div class="dropdown">

        <%
          str = ''
          str = raw("Nuevos (#{@total_new_orders || 0})") if params[:status].present? && params[:status] == 'new'
          str = raw("En progreso (#{@total_inprogress_orders || 0})") if params[:status].present? && params[:status] == 'inprogress'
          str = raw("Finalizados (#{@total_finished_orders || 0})") if params[:status].present? && params[:status] == 'finished'
          str = 'Todos' if (params[:status].present? && params[:status] == 'all') || params[:query]
        %>

        <button class="btn btn-default" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          <%= str %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
          <li class="<%= 'active' if params[:status].present? && params[:status] == 'new' %>"><%= link_to raw("Nuevos (#{@total_new_orders || 0})"), :status => 'new' %></li>
          <li class="<%= 'active' if params[:status].present? && params[:status] == 'inprogress' %>"><%= link_to raw("En progreso (#{@total_inprogress_orders || 0})"), :status => 'inprogress' %></li>
          <li class="<%= 'active' if params[:status].present? && params[:status] == 'finished' %>"><%= link_to raw("Finalizados (#{@total_finished_orders || 0})"), :status => 'finished' %></li>
          <li class="<%= 'active' if (params[:status].present? && params[:status] == 'all') || params[:query] %>"><%= link_to 'Todos', :status => 'all' %></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @orders && @orders.any? %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
              <tr>
                <td><%= link_to order.uuid, admin_order_path(order) %></td>
                <td><%= order.user.name%></td>
                <td><%= order.current_state %></td>
                <td class="delete">
                  <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i>
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to '<i class="fa fa-eye"></i> Ver más'.html_safe, admin_order_path(order) %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <h3>Aún no hay ordenes creadas :(</h3>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate @orders %>
    </div>
    <div class="pull-right">
      <%= page_entries_info(@orders) if @orders.any? %>
    </div>
  </div>
</div>