<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, class: 'form-horizontal'} do |f| %>
  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="form-group">
      <%= f.label field, class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field field, class: 'form-control', required: 'required' %>
      </div>
    </div>
  <% end -%>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-4">
      <%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
