<h2>Configuraciones Globales</h2>

<%= form_for @settings, url: commit_changes_admin_setting_path(@settings), html: { class: 'form-horizontal' } do |f| %>
  <fieldset>

    <% if @settings.errors.any? %>
      <div class="col-md-12 alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>

        <p>Hay <%= pluralize(@settings.errors.count, 'error', 'errores') %>
          :
        </p>
        <ul>
          <% @settings.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group well">
      <%= f.label :stock_mail_list, 'Notificación de stock crítico', class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :stock_mail_list, class: 'form-control', required: 'required', :oninvalid => "this.setCustomValidity('Ingresa correos para notificar.')", :onchange => "this.setCustomValidity('')", placeholder: 'example@mail.com, example2@mail.com' %>
        <p class="help-block">Se notificará a estos correos cuando un insumo o repuesto alcance su stock crítico.</p>
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-4">
      <%= f.submit 'Guardar', :class => 'btn btn-primary', disable_with: 'Guardando...' %>
    </div>
  </div>
<% end %>