<%= form_for @consumable_supply, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>

    <% if @consumable_supply.errors.any? %>
      <div class="col-md-12 alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>

        <p>Hay <%= pluralize(@consumable_supply.errors.count, "error", "errores") %>
          :
        </p>
        <ul>
          <% @consumable_supply.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :brand, "Marca", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :brand, required: 'required', :oninvalid => "this.setCustomValidity('Ingresa la marca del repuesto.')", :onchange => "this.setCustomValidity('')" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :model, "Modelo", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :model, required: 'required', :oninvalid => "this.setCustomValidity('Ingresa el modelo del repuesto.')", :onchange => "this.setCustomValidity('')" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price, "Precio", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :price, type: 'number', min: '0', required: 'required', :oninvalid => "this.setCustomValidity('Ingresa el valor (a cobrar) del repuesto.')", :onchange => "this.setCustomValidity('')" %>
      </div>
    </div>
    <% if @categories.any? %>
      <div class="form-group" id="category_select">
        <%= f.label :category, "Categoría", class: "control-label" %>
        <div class="controls">
          <%= f.select :category, options_for_select(@categories.map { |cat| [cat.name, cat.name] }) %>
          <span class="help-block"><a id="new_cat">Agrega aquí una nueva categoría</a></span>
        </div>
      </div>

      <div class="form-group" id="new_category" style="display: none;">
        <%= label_tag :new_category, "Nueva Categoría", class: "control-label" %>
        <div class="controls">
          <%= text_field_tag :new_category %>
          <span class="help-block"><a id="back_to_select">Selecciona una categoría existente</a></span>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <%= label_tag :new_category, "Nueva Categoría", class: "control-label" %>
        <div class="controls">
          <%= text_field_tag :new_category %>
        </div>
      </div>
    <% end %>

    <% unless is_edit %>
      <div class="form-group">
        <%= label_tag :units, 'Stock inicial', class: 'control-label' %>
        <div class="controls">
          <%= text_field_tag :units, 0, type: 'number', min: '0' %>
          <p class="help-block">Opcional.</p>
        </div>
      </div>
    <% end %>

  </fieldset>
  <div class="row">
    <div class="col-md-12">
      <div class="form-actions">
        <%= f.submit "Guardar", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#new_cat').on('click', function(){
    $('#category_select').toggle();
    $('#new_category').toggle();
  });

  $('#back_to_select').on('click', function(){
    $('#category_select').toggle();
    $('#new_category').toggle();
  });
</script>