<div class="row">
  <div class="col-md-12 actions">
    <div class="page-header">
      <%= link_to 'Ingresa un Insumo!', new_admin_consumable_supply_path, :class => 'btn btn-primary btn-large pull-right' %>
      <h2><%= @page_title %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @con_supplies && @con_supplies.any? %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio unitario</th>
          <th>Categoría</th>
          <th>Stock</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @con_supplies.each do |supply| %>
          <tr>
            <td><%= link_to supply.brand, admin_consumable_supply_path(supply) %></td>
            <td><%= supply.model %></td>
            <td><%= number_to_currency(supply.price, separator: ',', delimiter: '.', format: '%u %n') %></td>
            <td><%= supply.category %></td>
            <td><%= supply.category %></td>
            <td class="delete">
              <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to '<i class="fa fa-plus"></i> Agregar unidades'.html_safe, '#', class: 'add-units', data: {supply_id: supply.id} %></li>
                  <li>
                    <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_admin_consumable_supply_path(supply) %>
                  </li>
                  <li>
                    <%= link_to raw('<i class="fa fa-trash"></i> Eliminar'), admin_consumable_supply_path(supply), :method => 'delete', :confirm => '¿Estás seguro que deseas eliminar este insumo?' if can? :manage, ConsumableSupply %>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>Aún no hay insumos ingresados :(</h3>
    <% end %>
  </div>
</div>

<div id="add-units-modal"></div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate @con_supplies %>
    </div>
    <div class="pull-right">
      <%= page_entries_info(@con_supplies) if @con_supplies.any? %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.add-units').on('click', function(){
      var supply_id = $(this).data('supply-id');
      var url = '<%= add_units_modal_admin_consumable_supplies_path(format: 'js') %>?supply_id='+ supply_id;
      $.getScript(url);
    });
  });
</script>