<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> - Bimota Chile</title>
  <%= stylesheet_link_tag 'application' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bimota Chile</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <p class="navbar-text">Hola <%= current_user.name.titleize %></p>
          <li><%= link_to "<i class='icon-white icon-off'></i> Salir".html_safe, destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to "<i class='icon-white icon-off'></i> Ingresa".html_safe, new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/messages' %>
      <%= yield %>
    </div>
  </div>
  <!--/row-->
  <div class="footer navbar-fixed-bottom">
    <footer>
      <p>&copy; Bimota Chile 2015</p>
    </footer>
  </div>

</div>
<!-- /container -->

</body>
</html>
